<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.bc.mapper.FabBlockControllerMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.bc_code,
       t.bc_name,
       t.bc_desc,
       t.bc_ip,
       t.bc_port,
       t.office_id,
       t.active_flag,
       t.location,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
</mapper>