<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmrj.gem.ams.mapper.GemAmsAlarmMapper">


    <delete id="deleteByIdnoLogic">
        delete from gem_ams_alarm where id = #{id}
    </delete>

    <delete id="deleteByDatenoLogic">
        delete from gem_ams_alarm where CREATE_DATE &lt;  #{date}
    </delete>

    <delete id="deleteCMDByDatenoLogic">
        delete from gem_rcs_cmd where CREATE_DATE &lt;  #{date}
    </delete>


</mapper>
