<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.cim.modules.sys.mapper.SysProjectMapper" >

	<sql id="Base_Column_List" >
       t.project_id,
       t.project_name,
       t.project_detail,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.remark,
       t.del_flag
	</sql>
       <select id="filterProject" resultType="String">
              SELECT DISTINCT
                  project_id
              FROM
                  sys_menu
              WHERE
                  id IN (
                      SELECT
                          menu_id
                      FROM
                          sys_role_menu
                      WHERE
                          role_id IN (
                              SELECT
                                  role_id
                              FROM
                                  sys_user_role
                              WHERE
                                  user_id = #{id}
                          )
              )
       </select>


</mapper>
