<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.core.api.entity.EdcparamApi">
    <sql id="Base_Column_List" >
        t.id,
       t.param_define_id,
       t.type_id,
       t.param_code,
       t.param_name,
       t.param_shortname,
       t.param_unit,
       t.model_id,
       t.model_name,
       t.protocol,
       t.protocol_sub,
       t.protocol_value,
       t.set_value,
       t.def_value,
       t.min_value,
       t.max_value,
       t.show_flag,
       t.monitor_flag,
       t.val_mapping_flag,
       t.sub_eqp_id,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
    </sql>


</mapper>
