<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.userRole.mapper.FabRoleMapper" >

    <sql id="Base_Column_List" >
       t.id,
  t.name,
  t.code,
  t.project_id,
  t.is_sys,
  t.usable,
  t.create_by,
  t.create_date,
  t.update_by,
  t.update_date,
  t.remarks,
  t.del_flag
	</sql>

  
</mapper>