<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.mes.lot.mapper.MesLotWipMapper">

    <sql id="Base_Column_List">
       t.id,
       t.eqp_id,
       t.lot_no,
       t.production_name,
       t.production_no,
       t.order_no,
       t.lot_yield,
       t.lot_yield_eqp,
       t.start_time,
       t.end_time,
       t.step_id,
       t.step_code,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
    <select id="findIncompleteLotNo" resultType="com.lmrj.mes.track.entity.MesLotTrack" parameterType="java.util.Date">
              select
                    *
              from
                    mes_lot_track
              where
                    (PRODUCTION_NO, LOT_NO, start_time ) in
                    (SELECT
                            PRODUCTION_NO, LOT_NO ,
                            max(start_time)
                    FROM
                            mes_lot_track
                    WHERE
                            ( PRODUCTION_NO, LOT_NO )  NOT IN
                            (select
                                    DISTINCT
                                    PRODUCTION_NO,
                                    LOT_NO
                            from
                                    mes_lot_track
                            where eqp_id LIKE '%SIM-TRM%' AND END_TIME IS NOT NULL
                                   and create_date between #{startTime} and #{endTime}
                            )
                    and create_date  between #{startTime} and #{endTime}
                    group by PRODUCTION_NO,LOT_NO)
                    order by start_time
    </select>

    <select id="findLotYield" resultType="java.util.Map">
              select production_name, order_no, lot_no ,station_id step_id  ,station_code step_code ,
                     case when  sum(lot_yield)=0 then sum(lot_yield_eqp) else sum(lot_yield)   end  lot_yield
              from mes_lot_wip
              group by production_name, order_no, lot_no ,station_id,station_code
    </select>

    <select id="findSortNo" resultType="integer">
        select  sort_no from fab_equipment where eqp_id like concat(#{eqpId},'%') limit 1
    </select>
</mapper>
