<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.aps.plan.mapper.ApsPlanPdtYieldDetailMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.production_no,
       t.production_name,
       t.plan_date,
       t.plan_qty,
       t.lot_no,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
    <select id="selectDayYield" resultType="com.lmrj.aps.plan.entity.ApsPlanPdtYieldDetail">
           select plan_date, sum(plan_qty) plan_qty from aps_plan_pdt_yield_detail t
           where t.plan_date between #{beginTime} and #{endTime} and production_name like concat('%',#{lineNo},'%')
           group by t.plan_date
           order by t.plan_date
    </select>
</mapper>
