<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.ms.eqp.mapper.MsEqpParamMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_model_id,
       t.eqp_model_name,
       t.ms_get_type,
       t.param1,
       t.param2,
       t.param3,
       t.param4,
       t.param5,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
</mapper>