<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.ms.record.mapper.MsMeasureRecordMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.lot_no,
       t.production_no,
       t.wafer_id,
       t.ms_item,
       t.eqp_id,
       t.timing,
       t.sample_count,
       t.status,
       t.approve_result,
       t.file_flag,
       t.img_flag,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

       <select id="findDetailBytime" resultType="java.util.Map">
              select t.*
              from ms_measure_record r left join ms_measure_record_detail t on t.ms_record_id = r.id
              where r.eqp_id = #{eqpId}
                and r.create_date between #{beginTime} and #{endTime}
              order by t.create_date, t.ms_record_id
       </select>

       <select id="findDetailBytimeAndPro" resultType="java.util.Map">
              select t.*
              from ms_measure_record r left join ms_measure_record_detail t on t.ms_record_id = r.id
              where r.eqp_id = #{eqpId}
                and r.create_date between #{beginTime} and #{endTime}
              and r.production_no = #{productionNo}
              order by t.create_date, t.ms_record_id
       </select>

       <select id="findRecordByRecordId" resultMap="findDetail">
              select *
              from ms_measure_record
              where record_id = #{recordId}
       </select>
       <resultMap id="findDetail" type="com.lmrj.ms.record.entity.MsMeasureRecord">
              <id column="id" property="id"/>
              <collection property="detail" select="com.lmrj.ms.record.mapper.MsMeasureRecordDetailMapper.findDetailByRecordId" column="id"></collection>
       </resultMap>

       <select id="findWeight" parameterType="java.util.Map" resultType="java.util.Map">
            <!--SELECT date_format(dtl.create_date,'%Y-%m-%d %H:%i:%s') as "createDate",
                    dtl.item_value as "weight",
                    rcd.eqp_id as "eqpId",
                    dtl.limit_min as "limitMin",
                    dtl.limit_max as "limitMax",
                    rcd.lot_no as "lotNo"
             from ms_measure_record_detail dtl
            LEFT JOIN ms_measure_record rcd on rcd.id=dtl.ms_record_id
            where dtl.item_code='WEIGHT'-->
    SELECT min(dtl.item_value) as "minWeight",
           max(dtl.item_value) as "maxWeight",
           CAST(avg(dtl.item_value) AS DECIMAL(10,4)) as "avgWeight",
           min(dtl.limit_min) as "limitMin",
           min(dtl.limit_max) as "limitMax",
           rcd.lot_no as "lotNo"
           from ms_measure_record_detail dtl
           LEFT JOIN ms_measure_record rcd on rcd.id=dtl.ms_record_id
           where dtl.item_code='WEIGHT'
            <if test="lotNo!=null and lotNo!=''">
                and rcd.lot_no=#{lotNo}
            </if>
            <if test="startTime!=null and startTime!=''">
                  and dtl.create_date > #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and dtl.create_date &lt; #{endTime}
            </if>
<!--            <if test="productionNo!=null and productionNo!=''">-->
<!--                and rcd.production_no like concat('%',#{productionNo},'%')-->
<!--            </if>-->
           <if test="productionNo!=null and productionNo!=''">
               and rcd.production_name=#{productionNo}
           </if>
           and dtl.item_value between dtl.limit_min  and dtl.limit_max
           GROUP BY rcd.lot_no
            order by dtl.create_date
       </select>

    <select id="getAllProductionNo" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct rcd.production_Name
        from ms_measure_record_detail dtl
            LEFT JOIN ms_measure_record rcd on rcd.id=dtl.ms_record_id
            where dtl.item_code='WEIGHT'
            and rcd.production_Name like concat('%',#{productionNo},'%')
            and rcd.production_Name is not null
            order by dtl.create_date
    </select>

    <select id="getEqpIds" parameterType="java.lang.String" resultType="java.util.Map">
        select eqp_id as "eqpId",eqp_name as "eqpName"
          from fab_equipment
         where sub_line_no=#{lineNo}
    </select>

    <select id="getLineNoOptions" resultType="java.util.Map">
        select DISTINCT sub_line_no as "lineNo",sub_line_no as "eqpName"
          from fab_equipment
          where sub_line_no is not null
    </select>
</mapper>
