<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.ms.record.mapper.MsMeasureRecordMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.lot_no,
       t.production_no,
       t.wafer_id,
       t.ms_item,
       t.eqp_id,
       t.timing,
       t.sample_count,
       t.status,
       t.approve_result,
       t.file_flag,
       t.img_flag,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

       <select id="findDetailBytime" resultType="java.util.Map">
              select t.*
              from ms_measure_record r left join ms_measure_record_detail t on t.ms_record_id = r.id
              where r.eqp_id = #{eqpId}
                and r.create_date between #{beginTime} and #{endTime}
              order by t.create_date, t.ms_record_id
       </select>

       <select id="findDetailBytimeAndPro" resultType="java.util.Map">
              select t.*
              from ms_measure_record r left join ms_measure_record_detail t on t.ms_record_id = r.id
              where r.eqp_id = #{eqpId}
                and r.create_date between #{beginTime} and #{endTime}
              and r.production_no = #{productionNo}
              order by t.create_date, t.ms_record_id
       </select>

       <select id="findRecordByRecordId" resultMap="findDetail">
              select *
              from ms_measure_record
              where record_id = #{recordId}
       </select>
       <resultMap id="findDetail" type="com.lmrj.ms.record.entity.MsMeasureRecord">
              <id column="id" property="id"/>
              <collection property="detail" select="com.lmrj.ms.record.mapper.MsMeasureRecordDetailMapper.findDetailByRecordId" column="id"></collection>
       </resultMap>

       <select id="findWeight" parameterType="java.util.Map" resultType="java.util.Map">
            SELECT date_format(dtl.create_date,'%Y-%m-%d %H:%i:%s') as "createDate",
                    dtl.item_value as "weight",
                    rcd.eqp_id as "eqpId"
             from ms_measure_record_detail dtl
            LEFT JOIN ms_measure_record rcd on rcd.id=dtl.ms_record_id
            where dtl.item_code='WEIGHT'
            <if test="lotNo !=null and lotNo !=''">
                   and rcd.lot_no=#{lotNo}
            </if>
            <if test="eqpId!=null and eqpId!=''">
                   and rcd.eqp_id=#{eqpId}
            </if>
            <if test="startTime!=null and startTime!=''">
                  and dtl.create_date between #{startTime} and #{endTime}
            </if>
            order by dtl.create_date
       </select>
</mapper>
