<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.eqp.mapper.FabEquipmentStatusMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.control_state,
       t.lot_id,
       t.eqp_status,
       t.connection_status,
       t.recipe_name,
       t.lock_flag,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
   <select id="selectChart" resultType="map">
          SELECT
              count(eqp_id) COUNT,EQP_STATUS
          FROM
              fab_equipment_status
          WHERE
              DEL_FLAG = 0
          GROUP BY
              EQP_STATUS
   </select>

   <update id="updateStatus">
      update FAB_EQUIPMENT_STATUS set EQP_STATUS = #{status} where EQP_ID = #{eqpID}
   </update>

   <update id="updateLot">
      update FAB_EQUIPMENT_STATUS set LOT_ID = #{lotId} where EQP_ID = #{eqpID}
   </update>

    <select id="selectEqpStatus" resultType="com.lmrj.fab.eqp.entity.FabEquipmentStatus" parameterType="String">
        SELECT
        t.EQP_ID eqpId,
        t.LOT_ID lotId,
        t.EQP_STATUS eqpStatus,
        t.RECIPE_NAME recipeName,
        f.MODEL_NAME modelName
        FROM
        fab_equipment_status t
        left join  fab_equipment f on t.EQP_ID=f.EQP_ID and f.del_flag=0
        WHERE
        t.EQP_ID IN (
        SELECT
        eqp_id
        FROM
        FAB_EQUIPMENT
        WHERE del_flag = '0' and active_flag = '1'
        <if test="officeId != null and officeId != ''">
            and OFFICE_ID = #{officeId}
        </if>
        ) and t.del_flag = '0'
        order by f.SORT_CODE
    </select>

    <select id="selectFabStatusParam" resultType="map" parameterType="java.util.List">
        SELECT
        eqp_id eqpId,
        PARAM_CODE paramCode,
        PARAM_VALUE paramValue
        FROM
        edc_param_record_dtl
        where eqp_id in

        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.eqpId}
        </foreach>
    </select>

</mapper>
