<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.eqp.mapper.FabEquipmentMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.eqp_name,
       t.eqp_no,
       t.office_id,
       t.step_id,
       t.step_code,
       t.active_flag,
       t.bc_code,
       t.ip,
       t.port,
       t.device_id,
       t.model_id,
       t.model_name,
       t.protocol_name,
       t.fab,
       t.line_no,
       t.eqp_param,
       t.location,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

	<update id="updateActiveFlag">
		update FAB_EQUIPMENT set ACTIVE_FLAG = #{activeFlag} where id = #{id}
	</update>

    <select id="findEqpIdList" resultType="string">
        select eqp_id from fab_equipment
        where del_flag = '0'
          and active_flag = '1'
        order by sort_no, step_id
    </select>
    <select id="findEqpMap" resultType="map">
        select eqp_id id, eqp_name name  from fab_equipment
        where del_flag = '0'
          and active_flag = '1'
        order by sort_no, step_id
    </select>

    <!--<select id="eqpIdMsList" resultType="string">-->
        <!--select eqp_id from fab_equipment-->
        <!--where del_flag = '0'-->
          <!--and active_flag = '1'-->
          <!--and model_id in (select eqp_model_id from ms_eqp_param)-->
        <!--order by sort_no, step_id-->
    <!--</select>-->

    <select id="findEqpMsMap" resultType="map">
        select eqp_id id, eqp_name name from fab_equipment
        where del_flag = '0'
          and active_flag = '1'
          and model_id in (select eqp_model_id from ms_eqp_param)
        order by sort_no, step_id
    </select>

</mapper>
