<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.eqp.mapper.FabEquipmentStatusMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.control_state,
       t.lot_no,
       t.eqp_status,
       t.connection_status,
       t.recipe_code,
       t.day_yield,
       t.lot_yield,
       t.lot_yield_eqp,
       t.lock_flag,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>
   <select id="selectEqpStatusChart" resultType="map">
          SELECT
              count(eqp_id) COUNT,EQP_STATUS
          FROM
              fab_equipment_status
          WHERE
              DEL_FLAG = 0
          GROUP BY
              eqp_status
          ORDER BY eqp_status
   </select>

   <update id="updateStatus">
      update FAB_EQUIPMENT_STATUS set  update_date = now()
       <if test="status != null and status != ''">
           , EQP_STATUS = #{status}
       </if>
       <if test="lotNo != null and lotNo != ''">
           , lot_no = #{lotNo}
       </if>
       <if test="recipeCode != null and recipeCode != ''">
           , recipe_code = #{recipeCode}
       </if>
      where EQP_ID = #{eqpID}
   </update>

    <update id="updateYield">
        update FAB_EQUIPMENT_STATUS set  update_date = now()
        <if test="status != null and status != ''">
            , EQP_STATUS = #{status}
        </if>
        <if test="lotNo != null and lotNo != ''">
            , lot_no = #{lotNo}
        </if>
        <if test="recipeCode != null and recipeCode != ''">
            , recipe_code = #{recipeCode}
        </if>
        <if test="lotYield != -1">
            , lot_yield = #{lotYield}
        </if>
        <if test="dayYield != -1">
            , day_yield = #{dayYield}
        </if>
        where EQP_ID = #{eqpID}
    </update>

    <update id="increaseYield">
        update FAB_EQUIPMENT_STATUS set  update_date = now(),
          lot_yield = lot_yield+${increasedYield},day_yield = day_yield+${increasedYield}
        where EQP_ID = #{eqpID}
    </update>

   <update id="updateLot">
      update FAB_EQUIPMENT_STATUS set LOT_NO = #{lotNo}, update_date = now() where EQP_ID = #{eqpID}
   </update>

    <select id="selectEqpStatus" resultType="com.lmrj.fab.eqp.entity.FabEquipmentStatus" parameterType="String">
        SELECT
        <include refid="Base_Column_List" />, f.MODEL_NAME modelName
        FROM
        fab_equipment_status t
        LEFT JOIN fab_equipment f on t.EQP_ID=f.EQP_ID and f.del_flag=0
        WHERE t.del_flag = '0' and f.active_flag = '1'
        <if test="officeId != null and officeId != ''">
            and f.OFFICE_ID = #{officeId}
        </if>
        <if test="lineNo != null and lineNo != ''">
            and f.line_no = #{lineNo}
        </if>
        <if test="fab != null and fab != ''">
            and f.fab = #{fab}
        </if>
        order by f.SORT_NO
    </select>

    <select id="selectFabStatusParam" resultType="map" parameterType="java.util.List">
        SELECT
        eqp_id eqpId,
        PARAM_CODE paramCode,
        PARAM_VALUE paramValue
        FROM
        edc_param_record_dtl
        where eqp_id in

        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.eqpId}
        </foreach>
    </select>

    <select id="selectYield" resultType="map">
        select step_code, max(lot_no) lot_no , sum(lot_yield) lot_yield , min(eqp_status) eqp_status
        from fab_equipment_status t left join fab_equipment e on t.eqp_id = e.eqp_id
        where line_no= #{lineNo} and step_yield_flag='1'
        group by step_code
        order by max(e.sort_no)
    </select>

    <select id="selectLotwip" resultType="map">
        select fab.step_code, count(*) count, sum(lot_yield) lot_yield
        from mes_lot_wip t
             left join fab_equipment fab on t.eqp_id = fab.eqp_id
        where end_time is not null
        group by fab.step_code
    </select>



</mapper>
