<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.fab.eqp.mapper.FabEquipmentMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.eqp_name,
       t.eqp_no,
       t.office_id,
       t.step_id,
       t.step_code,
       t.active_flag,
       t.bc_code,
       t.ip,
       t.port,
       t.device_id,
       t.model_id,
       t.model_name,
       t.protocol_name,
       t.fab,
       t.line_no,
       t.eqp_param,
       t.location,
       t.location_x,
       t.location_y,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

    <sql id="FabSensor_List" >
        t.id,
        t.sor_id,
        t.sor_name,
        t.sor_no,
        t.office_id,
        t.step_id,
        t.step_code,
        t.active_flag,
        t.bc_code,
        t.ip,
        t.port,
        t.device_id,
        t.model_id,
        t.model_name,
        t.protocol_name,
        t.fab,
        t.line_no,
        t.eqp_param,
        t.location,
        t.remarks,
        t.create_by,
        t.create_date,
        t.update_by,
        t.update_date,
        t.del_flag
    </sql>

	<update id="updateActiveFlag">
		update FAB_EQUIPMENT set ACTIVE_FLAG = #{activeFlag} where id = #{id}
	</update>

    <select id="findEqpIdList" resultType="string">
        select eqp_id from fab_equipment
        where del_flag = '0'
          and active_flag = 'Y'
        order by sort_no, step_id
    </select>
    <select id="findEqpMap" resultType="map">
        select eqp_id id, eqp_name name  from fab_equipment
        where del_flag = '0'
          and active_flag = 'Y'
        order by sort_no, step_id
    </select>


    <select id="findEqpMapByCode" resultType="map" parameterType="java.lang.String">
        select a.eqp_id id, a.eqp_name name  from fab_equipment a ,fab_equipment_model b
        where a.del_flag = '0'
          and a.active_flag = 'Y'
          and a.model_id = b.id
          and b.class_code = #{classCode}
        order by sort_no, step_id
    </select>

    <!--<select id="eqpIdMsList" resultType="string">-->
        <!--select eqp_id from fab_equipment-->
        <!--where del_flag = '0'-->
          <!--and active_flag = '1'-->
          <!--and model_id in (select eqp_model_id from ms_eqp_param)-->
        <!--order by sort_no, step_id-->
    <!--</select>-->

    <select id="findEqpMsMap" resultType="map">
        select eqp_id id, eqp_name name from fab_equipment
        where del_flag = '0'
          and active_flag = 'Y'
          and model_id in (select eqp_model_id from ms_eqp_param)
        order by sort_no, step_id
    </select>

    <select id="findDepartment" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
	    department as department
        FROM
	    fab_equipment
        WHERE
	    eqp_id = #{eqpId}
    </select>

    <select id="findEmailALL" resultType="java.util.Map" parameterType="java.lang.String">
       SELECT
       b.user_name AS name,
	   b.user_email AS email
       FROM
	   edc_ams_rpt_define a
	   LEFT JOIN edc_ams_rpt_define_act_email b
	   ON
       a.id =b.rpt_alarm_id
       WHERE
	   a.alarm_id = #{code} AND
	   a.del_flag = '0' AND
	   b.del_flag = '0' AND
	   a.active_flag = '1'
    </select>

    <select id="selectFabSensorId" resultType="com.lmrj.fab.eqp.entity.FabSensor" parameterType="java.lang.String">
        select
        <include refid="FabSensor_List"/>
        from fab_equipment a , fab_sensor t , fab_model_template m , fab_equipment_model s , fab_sensor_model r
        WHERE a.eqp_id = #{eqpId}
        and a.model_id = s.class_code
        and s.class_code = m.class_code
        and m.class_code = r.class_code
        and r.class_code = t.model_id
    </select>

    <select id="AoutAddSensor" resultType="com.lmrj.fab.eqp.entity.FabSensor" parameterType="java.lang.String">
        SELECT
        <include refid="FabSensor_List"/>
        from fab_equipment a , fab_sensor t , fab_model_template m , fab_equipment_model s , fab_sensor_model r
        WHERE a.is_bind_created = #{isBindCreated}
        and a.model_id = #{modelId}
        and a.model_id = s.class_code
        and s.class_code = m.class_code
        and m.class_code = r.class_code
        and r.class_code = t.model_id
    </select>

    <select id="selectOfficeName" parameterType="java.lang.String" resultType="com.lmrj.fab.eqp.entity.FabEquipment">
        SELECT s.*
        from fab_equipment t , sys_organization s
        where f.office_id = s.id
    </select>
</mapper>
