<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.edc.state.mapper.EdcEqpStateMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.state,
       t.state_previous,
       t.state_10,
       t.start_time,
       t.end_time,
       t.state_times,
       t.create_date,
       t.update_date
	</sql>
       <select id="getAllByTime" resultType="com.lmrj.edc.state.entity.EdcEqpState">
            SELECT
                  t.id,
                  t.eqp_id,
                  t.state,
                  t.state_previous,
                  t.state_10,
                  start_time,
                  t.end_time,
                  t.state_times,
                  t.create_date,
                  t.update_date
              FROM
                  edc_eqp_state t
              WHERE
                start_time between #{startTime} and #{endTime} and eqp_id=#{eqpId}
                order by start_time

       </select>

    <select id="calEqpSateDay" resultType="com.lmrj.edc.state.entity.EdcEqpState">
        select eqp_id, state, sum(state_times) state_times from edc_eqp_state
        where end_time between #{startTime} and #{endTime}
        AND start_time between #{startTime} and #{endTime}
        group by eqp_id, state
    </select>
    <select id="findLastData" resultType="com.lmrj.edc.state.entity.EdcEqpState">
        select * from edc_eqp_state
        where start_time &lt; #{startTime} and eqp_id=#{eqpId}
        and state != 'ALARM'
        order by start_time desc
        limit 1
    </select>
    <select id="findWrongEqpList" resultType="com.lmrj.edc.state.entity.EdcEqpState">
        select * from edc_eqp_state
        where end_time is null  and eqp_id=#{eqpId} and start_time between #{startTime} and #{endTime}
        order by start_time
    </select>
    <select id="findNextData" resultType="com.lmrj.edc.state.entity.EdcEqpState">
        select * from edc_eqp_state
        where start_time &gt; #{startTime} and eqp_id=#{eqpId}
        order by start_time
        limit 1
    </select>
</mapper>
