<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.edc.ams.mapper.EdcAmsRecordMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.alarm_code,
       t.alarm_name,
       t.alarm_switch,
       t.start_date,
       t.end_date,
       t.del_flag
	</sql>
</mapper>