<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmrj.gem.evt.mapper.GemEvtLinkReportVidMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, REPORT_ID, variable_ID, SUB_EQP_ID, EQP_MODEL_ID, EQP_MODEL_NAME, REMARKS, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
    </sql>

</mapper>
