<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmrj.gem.evt.mapper.GemEvtCollectEventMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <delete id="deleteByIdnoLogic">
        delete from gem_evt_collect_event where id = #{id}
    </delete>

    <delete id="deleteByDatenoLogic">
        delete from gem_evt_collect_event where CREATE_DATE &lt;  #{date}
    </delete>
</mapper>
