<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.edc.lot.mapper.RptLotYieldDayMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.period_date,
       t.lot_no,
       t.production_no,
       t.step_id,
       t.step_code,
       t.production_name,
       t.order_no,
       t.lot_yield,
       t.lot_yield_eqp,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

       <select id="selectDaypdt" resultType="map">
              select period_date, sum(lot_yield) lot_yield , sum(lot_yield_eqp) lot_yield_eqp
              from rpt_lot_yield_day
              where line_no = #{lineNo}
              and station_code = #{stationCode}
              and period_date between #{beginTime} and #{endTime}
              group by period_date
              order by period_date
       </select>
</mapper>
