<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.rms.recipefile.mapper.RmsRecipeFileMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.recipe_id,
       t.file_name,
       t.file_extension,
       t.file_path,
       t.file_size,
       t.sort_no,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.remarks,
       t.del_flag
	</sql>
</mapper>