<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.edc.evt.mapper.EdcEvtRecordMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.event_id,
       t.start_date
	</sql>
</mapper>