<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.dsk.eqplog.mapper.EdcDskLogProductionMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.eqp_model_id,
       t.eqp_model_name,
       t.eqp_no,
       t.yield,
       t.yield_lot,
       t.material_lot_no,
       t.material_model,
       t.material_no,
       t.material_no2,
       t.lot_no,
       t.lot_device,
       t.lot_no_no,
       t.judge_result,
       t.start_time,
       t.end_time,
       t.duration,
       t.create_date
	</sql>
</mapper>