<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.dsk.eqplog.mapper.ChipMoveMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.eqp_model_id,
       t.eqp_model_name,
       t.eqp_no,
       t.recipe_code,
       t.start_time,
       t.order_no,
       t.lot_no,
       t.lot_num,
       t.create_date,
       t.create_by
	</sql>
    <insert id="insertMoveLog" parameterType="com.lmrj.dsk.eqplog.entity.ChipMove">
        insert into map_tray_chip_move(chip_id,eqp_id,production_no,lot_no,from_tray_id,from_x,from_y,to_tray_id,to_x,to_y,to_z,
             judge_result,start_time,create_date) values
             <foreach collection="dataList" item="item" separator=",">
                    (#{item.chipId},#{item.eqpId},#{item.productionNo},#{item.lotNo},#{item.fromTrayId},#{item.fromX}
                    ,#{item.fromY},#{item.toTrayId},#{item.toX},#{item.toY},#{item.toZ},#{item.judgeResult},#{item.startTime},now())
             </foreach>
    </insert>
</mapper>
