<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.dsk.eqplog.mapper.ChipMoveMapper" >
    <resultMap id="ChipMoveMap" type="com.lmrj.dsk.eqplog.entity.ChipMove">
        <result property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
    <sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.eqp_model_id,
       t.eqp_model_name,
       t.eqp_no,
       t.recipe_code,
       t.start_time,
       t.order_no,
       t.lot_no,
       t.lot_num,
       t.create_date,
       t.create_by
	</sql>
    <insert id="insertMoveLog" parameterType="com.lmrj.dsk.eqplog.entity.ChipMove">
        insert into map_tray_chip_move(eqp_id,production_no,lot_no,from_tray_id,from_x,from_y,to_tray_id,to_x,to_y,to_z,
        judge_result,start_time,create_date,chip_id,eqp_model_name, file_name, map_flag) values
        <foreach collection="dataList" item="item" separator=",">
            (#{item.eqpId},#{item.productionNo},#{item.lotNo},#{item.fromTrayId},#{item.fromX}
            ,#{item.fromY},#{item.toTrayId},#{item.toX},#{item.toY},#{item.toZ},#{item.judgeResult},
            #{item.startTime},now(),#{item.chipId},#{item.eqpModelName}, #{item.fileName}, #{item.mapFlag})
        </foreach>
    </insert>

    <select id="findXrayData" parameterType="java.lang.String" resultType="java.lang.String">
        select chip_id from map_tray_chip_move where to_tray_id=#{toTrayId} and eqp_id='APJ-HB2-XRAY' and map_flag='0'
    </select>

    <update id="finishXrayData" parameterType="java.lang.String">
        update map_tray_chip_move set map_flag='1' where map_flag='0' and eqp_id='APJ-HB2-XRAY' and to_tray_id=#{toTrayId}
    </update>
</mapper>
