<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.map.tray.mapper.MapTrayChipMoveMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.chip_id,
       t.eqp_id,
       t.production_no,
       t.lot_no,
       t.from_tray_id,
       t.from_x,
       t.from_y,
       t.to_tray_id,
       t.to_x,
       t.to_y,
       t.to_z,
       t.judge_result,
       t.start_time,
       t.create_date
	</sql>

	<select id="queryChipMove" resultType="map" parameterType="com.lmrj.map.tray.vo.MapTrayChipMoveQueryVo">
	    SELECT `id`, `chip_id` AS chipId, `eqp_id` AS eqpId, `production_no` AS productionNo,
	    `lot_no` AS lotNo, `to_tray_id` AS toTrayId, `to_x` AS toX, `to_y` AS toY, `to_z` AS toZ,
	    `judge_result` AS judgeResult, `start_time` AS startTime
		FROM `map_tray_chip_move`
		WHERE
	    <trim suffixOverrides="," prefixOverrides="AND">
	    	<choose>
			    <when test="chipIds != null and chipIds.size > 0">
			    	`chip_id` IN
			    	<foreach collection="chipIds" item="chip" open="(" separator="," close=")">
					#{chip}
					</foreach>
			    </when>
			    <otherwise>
			    	<if test="lotNo != null and lotNo != ''">
					    AND lot_no = #{lotNo}
					</if>
					<if test="eqpIds != null and eqpIds.size > 0">
					    AND eqp_id IN(
					    <foreach collection="eqpIds" item="eqp" separator=",">
						#{eqp}
						</foreach>
					    )

					</if>
					<choose>
						<when test="sTime == null">
				    		AND `start_time` &gt;= CURDATE()
				    	</when>
					    <otherwise>
					    	AND `start_time` &gt;= #{sTime}
					    	AND `start_time` &lt;= #{eTime}
					    </otherwise>
					</choose>
			    </otherwise>
			</choose>
			<!-- ORDER BY `start_time` DESC -->
			LIMIT #{offset},#{pageSize}
	    </trim>
	</select>

	<select id="countChipMove" resultType="int" parameterType="com.lmrj.map.tray.vo.MapTrayChipMoveQueryVo">
	    SELECT COUNT(1)
	    FROM `map_tray_chip_move`
	    WHERE
	    <trim suffixOverrides="," prefixOverrides="AND">
	    	<choose>
			    <when test="chipIds != null and chipIds.size > 0">
			    	`chip_id` IN
			    	<foreach collection="chipIds" item="chip" open="(" separator="," close=")">
					#{chip}
					</foreach>
			    </when>
			    <otherwise>
			    	<if test="lotNo != null and lotNo != ''">
					    AND lot_no = #{lotNo}
					</if>
					<if test="eqpIds != null and eqpIds.size > 0">
					    AND eqp_id IN(
					    <foreach collection="eqpIds" item="eqp" separator=",">
						#{eqp}
						</foreach>
					    )
					</if>
					<choose>
						<when test="sTime == null">
				    		AND `start_time` &gt;= CURDATE()
				    	</when>
					    <otherwise>
					    	AND `start_time` &gt;= #{sTime}
					    	AND `start_time` &lt;= #{eTime}
					    </otherwise>
					</choose>
			    </otherwise>
			</choose>
	    </trim>
	</select>

	<select id="queryChip" resultType="map" parameterType="string">
	    SELECT mv.`id`, mv.`chip_id` AS chipId, mv.`eqp_id` AS eqpId, ec.`eqp_type` AS eqpType,
	    cf.`tray_row` AS trayRow, cf.`tray_col` AS trayCol,
	    mv.`from_tray_id` AS fromTrayId, mv.`from_x` AS fromX, mv.`from_y` AS fromY,
	    mv.`to_tray_id` AS toTrayId, mv.`to_x` AS toX, mv.`to_y` AS toY, mv.`to_z` AS toZ,
	    mv.`judge_result` AS judgeResult, mv.`start_time` AS startTime,
	    ec.down_eqp_id as 'nextEqpId'
		FROM `map_tray_chip_move` mv
		INNER JOIN `map_tray_config` cf ON mv.`to_tray_id` = cf.`tray_id`
		LEFT JOIN `map_equipment_config` ec ON mv.`eqp_id` = ec.`eqp_id`
		WHERE `chip_id` = #{chipId}
	</select>
</mapper>
