<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.map.tray.mapper.MapTrayConfigMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.tray_id,
       t.tray_row,
       t.tray_col,
       t.tray_desc,
       t.status,
       t.start_time,
       t.freeze_time,
       t.sort_no,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

    <select id="getAllTrayEqp" resultType="java.util.Map">
		select eqp_id as "eqpId", eqp_name as "eqpName", eqp_id as "eqpIdCopy"
		from fab_equipment
		where tray_flag='Y'
		order by sort_no
	</select>
</mapper>
