<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.oven.batchlot.mapper.OvnBatchLotMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.eqp_id,
       t.office_id,
       t.step_id,
       t.step_code,
       t.recipe_code,
       t.recipe_version_no,
       t.start_time,
       t.end_time,
       t.filename,
       t.lot_id,
       t.check_flag,
       t.check_result,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

       <select id="selectFabStatus" resultType="com.lmrj.oven.batchlot.entity.FabEquipmentOvenStatus" parameterType="String">
              SELECT
                  t.EQP_ID eqpId,
                  t.LOT_ID lotId,
                  t.EQP_STATUS eqpStatus,
                  t.RECIPE_NAME recipeName,
                  f.MODEL_NAME modelName
              FROM
                  fab_equipment_status t
                  left join  fab_equipment f on t.EQP_ID=f.EQP_ID and f.del_flag=0
              WHERE
                  t.EQP_ID IN (
                      SELECT
                          eqp_id
                      FROM
                          FAB_EQUIPMENT
                      WHERE del_flag = '0' and active_flag = 'Y'
                       <if test="officeId != null and officeId != ''">
                           and OFFICE_ID = #{officeId}
                       </if>
                  ) and t.del_flag = '0'
                  order by f.SORT_NO
       </select>
       <select id="selectFabStatusParam" resultType="map" parameterType="java.util.List">
              SELECT
              eqp_id eqpId,
              PARAM_CODE paramCode,
              PARAM_VALUE paramValue
              FROM
              edc_param_record_dtl
              where eqp_id in

              <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                     #{item.eqpId}
              </foreach>
       </select>
       <select id="selectChartByCase" resultType="map" parameterType="String">
              SELECT
                  count(eqp_id) COUNT,EQP_STATUS
              FROM
                  fab_equipment_status
              WHERE
                  DEL_FLAG = 0
                  and
                   EQP_ID IN (
                      SELECT
                          eqp_id
                      FROM
                          FAB_EQUIPMENT
                      WHERE
                          OFFICE_ID = #{officeId}
                  )
              GROUP BY
                  EQP_STATUS
       </select>

    <select id="findCountBytime" resultType="int">
        select count(*)
        from ovn_batch_lot r left join ovn_batch_lot_param t on t.batch_id = r.id
        where r.eqp_id = #{eqpId}
          and r.end_time between #{beginTime} and #{endTime}
        order by t.create_date, t.batch_id
    </select>

    <select id="findDetailBytime" resultType="java.util.Map">
        select t.temp_pv,
               t.temp_sp,
                   t.temp_min,
                   t.temp_max,t.other_temps_value,t.create_date
        from ovn_batch_lot r left join ovn_batch_lot_param t on t.batch_id = r.id
        where r.eqp_id = #{eqpId}
          and (
                (r.end_time &gt; #{beginTime}
                AND r.end_time &lt; #{endTime})
                OR
                (r.start_time &gt; #{beginTime}
                AND r.start_time &lt; #{endTime})
              )
          and t.create_date between #{beginTime} and #{endTime}
        order by t.create_date, t.batch_id
    </select>

    <select id="findDetailBytimeOther" resultType="java.util.Map">
        select t.temp_pv,
               t.temp_sp,
                   t.temp_min,
                   t.temp_max,t.other_temps_value,t.create_date
        from ovn_batch_lot r left join ovn_batch_lot_param t on t.batch_id = r.id
        where r.eqp_id = #{eqpId}
          and r.lot_id = #{lotNo}
        order by t.create_date, t.batch_id
    </select>


    <select id="findToEqpId" parameterType="java.lang.String" resultType="java.util.Map">
        select eqp_id as "eqpId",
                id as "id"
        from ovn_batch_lot
        where DATE_FORMAT(create_date,'%Y-%m-%d')=#{dateStr}
        GROUP BY eqp_id
    </select>

    <insert id="saveEqp" parameterType="java.util.Map">
        insert into ovn_batch_lot(id,eqp_id,create_date,del_flag)values
        <foreach collection="eqps" item="item" separator=",">
            (#{item.id},#{item.eqpId},now(),0)
        </foreach>
    </insert>
    <insert id="saveTempParam" parameterType="java.util.Map">
        insert into ovn_batch_lot_param(id,batch_id,temp_pv,create_date,del_flag)values
        <foreach collection="temps" item="item" separator=",">
            (#{item.id},#{item.batchId},#{item.tempPv},#{item.sendTime},0)
        </foreach>
    </insert>

    <select id="lastDayEqpList" resultType="java.lang.String">
        select DISTINCT(a.eqp_id) from ovn_batch_lot a where a.create_date BETWEEN #{startTime} and #{endTime}
    </select>
</mapper>
