<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmrj.oven.batchlot.mapper.OvnBatchLotParamMapper" >

	<sql id="Base_Column_List" >
       t.id,
       t.batch_id,
       t.temp_pv1,
       t.temp_sp1,
       t.temp_min,
       t.temp_max,
       t.step,
       t.remarks,
       t.create_by,
       t.create_date,
       t.update_by,
       t.update_date,
       t.del_flag
	</sql>

       <select id="fParamToDayone" resultType="java.util.Map">
             select #{periodDate} as periodDate,#{eqpId} as eqpId,#{eqpTemp} as eqpTemp,max(a.temp_pv) as tempMax,min(a.temp_pv) as tempMin,
              (select temp_pv from ovn_batch_lot_param where batch_id in (select id from ovn_batch_lot where eqp_id = #{eqpId} and ((end_time &gt; #{startTime}
        AND end_time &lt; #{endTime}) OR (start_time &gt; #{startTime} AND start_time &lt; #{endTime})))
         and create_date between #{startTime} and #{endTime} and create_date = (select min(create_date) from ovn_batch_lot_param where batch_id in (select id from ovn_batch_lot where eqp_id = #{eqpId} and ((end_time &gt; #{startTime}
        AND end_time &lt; #{endTime}) OR (start_time &gt; #{startTime} AND start_time &lt; #{endTime})))
        and create_date between #{startTime} and #{endTime}) limit 1 ) as tempStart,
              (select temp_pv from ovn_batch_lot_param where batch_id in (select id from ovn_batch_lot where eqp_id = #{eqpId} and ((end_time &gt; #{startTime}
        AND end_time &lt; #{endTime}) OR (start_time &gt; #{startTime} AND start_time &lt; #{endTime})))
         and create_date between #{startTime} and #{endTime} and create_date = (select max(create_date) from ovn_batch_lot_param where batch_id in (select id from ovn_batch_lot where eqp_id = #{eqpId} and ((end_time &gt; #{startTime}
        AND end_time &lt; #{endTime}) OR (start_time &gt; #{startTime} AND start_time &lt; #{endTime})))
         and create_date between #{startTime} and #{endTime}) limit 1
         ) as tempEnd   from ovn_batch_lot_param a
              where a.batch_id in (select id from ovn_batch_lot where eqp_id = #{eqpId} and ((end_time &gt; #{startTime}
        AND end_time &lt; #{endTime}) OR (start_time &gt; #{startTime} AND start_time &lt; #{endTime})))
         and a.create_date between #{startTime} and #{endTime}
       </select>
</mapper>